<component name="ArtifactManager">
  <artifact type="exploded-war" name="MyBatis01">
    <output-path>$PROJECT_DIR$/out/artifacts/MyBatis01</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="MyBatis01/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyBatis01" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Mybatis" />
          <element id="library" level="project" name="mysql-connector-java-8.0.13" />
        </element>
      </element>
    </root>
  </artifact>
</component>